@using NextInLine.Enums
@model IEnumerable<Ticket> 
@{
    ViewData["message"] = "Mensaje";
    /*Count Pendings status tickets*/
    int pendings = @Model.Where(t => t.Status == TicketStatus.pending)
        .Where(t => t.CreatedAt.Date == DateTime.UtcNow.Date)
        .Count();
    
    /*All the tickets pendings ordered*/
    var tickets = @Model.Where(t => t.Status == TicketStatus.pending)
        .Where(t => t.CreatedAt.Date == DateTime.UtcNow.Date)
        .OrderBy(t => t.CreatedAt)
        .ToList();
    
    /*Pendings today*/
    int servedToday = @Model.Where(t => t.Status == TicketStatus.closed).Where(t => t.CreatedAt.Date == DateTime.UtcNow.Date).Count();
    
    /*Pendings Totals*/
    var pendingsTotal = @Model.Where(t => t.Status == TicketStatus.pending)
        .Where(t => t.CreatedAt.Date == DateTime.UtcNow.Date)
        .Select(t => t.CreatedAt)
        .ToList();
    
    /*Average by time of waiting*/
    var averageMinutes = pendingsTotal
        .Select(date => (DateTime.UtcNow - date).TotalMinutes)
        .DefaultIfEmpty(0)
        .Average();
    
    /*Result of averageMinutes*/
    var averageTime = TimeSpan.FromMinutes(averageMinutes);
}

<div id="toast" style="
    position: fixed;
    top: 20px;
    right: 20px;
    background: #26a69a;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: none;
    z-index: 9999;
    font-weight: bold;">
</div>

<div>
    <div class="container" style="padding-top:35px;">

        <!-- HEADER -->
        <div class="row valign-wrapper">
            <div class="col s12 m6">
                <h4 class="grey-text text-darken-4" style="margin:0;">
                    Panel de control de Tickets
                </h4>
                <p class="grey-text">Nota: La pasciencia es una virtud</p>
            </div>
        </div>

        <!-- MAIN GRID -->
        <div class="row">

            <!-- LEFT SIDE -->
            <div class="col s12 l4">

                <!-- CURRENT TURN -->
                <div class="card white z-depth-1" style="border-radius:18px;">
                    <div class="card-content center-align">
                        <p class="grey-text">Next Turn</p>
                        
                        <h1 id="currentTurn" class="teal-text text-darken-2" style="margin:0; font-size:5rem;"></h1>
                        
                        <p class="grey-text">Serving now</p>
                    </div>
                </div>

                <!-- QUICK ACTIONS -->
                <div class="card white z-depth-1" style="border-radius:18px;">
                    <div class="card-content">

                        <h6><b>Quick Actions</b></h6>

                        @*<a class="btn-large teal darken-1 waves-effect waves-light"
                           style="width:100%; border-radius:30px; margin-top:15px;">
                            <i class="material-icons left">skip_next</i>
                            Next Turn
                        </a>*@
                        <form id="antiForgeryForm">
                            @Html.AntiForgeryToken()
                            <button id="nextTurnBtn"
                                    class="btn-large teal darken-1"
                                    style="width:100%; border-radius:30px; margin-top:15px;">
                                <i class="material-icons left">skip_next</i>
                                Next Turn
                            </button>
                        </form>
                        <a class="btn-large orange waves-effect waves-light"
                           style="width:100%; border-radius:30px; margin-top:15px;">
                            <i class="material-icons left">free_breakfast</i>
                            Break Mode
                        </a>

                        <a class="btn-large red waves-effect waves-light"
                           style="width:100%; border-radius:30px; margin-top:15px;">
                            <i class="material-icons left">cancel</i>
                            Cancel Turn
                        </a>

                    </div>
                </div>

            </div>

            <!-- CENTER -->
            <div class="col s12 l8">

                <!-- LIVE STATS -->
                <div class="row">

                    <div class="col s12 m4">
                        <div class="card white z-depth-1 center-align" style="border-radius:18px;">
                            <div class="card-content">
                                <h4 class="teal-text" id="pendingsToday">@pendings</h4>
                                <p class="grey-text">Waiting</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card white z-depth-1 center-align" style="border-radius:18px;">
                            <div class="card-content">
                                <h4 class="teal-text">@($"{averageTime.Hours}h {averageTime.Minutes}m")</h4>
                                <p class="grey-text">Avg Wait</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card white z-depth-1 center-align" style="border-radius:18px;">
                            <div class="card-content">
                                <h4 class="teal-text">@servedToday</h4>
                                <p class="grey-text">Served Today</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- TURN TABLE -->
                <div class="card white z-depth-1" style="border-radius:18px;">
                    <div class="card-content">

                        <div class="row valign-wrapper" style="margin-bottom:0;">
                            <div class="col s12 m6">
                                <h5 class="grey-text text-darken-4">All Tickets</h5>
                            </div>
                        </div>

                        <table class="highlight responsive-table striped centered">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Status</th>
                                    <th>Tiempo de espera</th>
                                </tr>
                            </thead>

                            <tbody>


                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/turnHub")
        .withAutomaticReconnect()
        .build();
    
    //Store next Turn on session
    const nextTurn = sessionStorage.getItem("nextTurn");
    const statPending = document.getElementById("pendingsToday");
    const toast = document.getElementById("toast");
    const btnNext = document.getElementById("nextTurnBtn");
    const token = document.querySelector('#antiForgeryForm input[name="__RequestVerificationToken"]').value;
    
    btnNext.addEventListener("click", async (e) => {
        e.preventDefault();

        console.log("CLICK NEXT TURN");
        
        try {
            const res = await fetch('/Admin/NextTurn', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': token
                }
            });

            const data = await res.text();
            console.log("STATUS:", res.status);
            console.log("OK:", res.ok);
            sessionStorage.setItem("nextTurn", data);
            
            setTimeout(()=>{
                window.location.reload();
            }, 2000)
           
            console.log("RESPUESTA:", data);
        } catch (error) {
            console.error("ERROR FETCH:", error);
        }

        
    });
    
    // To call last turn receive
    connection.on("ReceiveTurn", (code) => {
        console.log("RECIBIDO:", code);
        
        const toast = document.getElementById("toast");

        if (!toast) {
            console.error("Toast no existe en el DOM");
            return;
        }

        toast.innerText = `Nuevo turno: ${code}`;
        toast.style.display = "block";

        setTimeout(() => {
            toast.style.display = "none";
            refreshTickets();
        }, 3000);
    });

    connection.start().then(() => {
        console.log("SignalR conectado");
    });
    
    async function refreshTickets() {
        // Set value next turn
        if(nextTurn){
            document.getElementById("currentTurn").innerText = nextTurn;
        }else{
            document.getElementById("currentTurn").innerText = "Sin turnos";
        }
        
        const res = await fetch('/Admin/GetTicketsPendings');
        const tickets = await res.json();
        
        statPending.textContent = tickets.length;
       // document.getElementById("pendingsToday").innerText = "35";
        const tbody = document.querySelector("tbody");
        tbody.innerHTML = "";
        
        tickets
            .forEach(t => {

                const waiting = new Date() - new Date(t.createdAt);
                const minutes = Math.floor(waiting / 60000);
                const seconds = Math.floor((waiting % 60000) / 1000);

                tbody.innerHTML += `
                <tr>
                    <td>${t.code}</td>
                    <td><span class="chip orange white-text">pending</span></td>
                    <td>${minutes}:${seconds}</td>
                </tr>
            `;
            });
    }
    refreshTickets();
</script>
